header {
    height: 400px;
    width: 100%;
    padding-top: 5.1em;
    margin-bottom: 5.1em;
    background-color: orange;
    background-image: url(/images/black-thread.png);
}
div.center {
    display: flex;
    align-items: center;
    justify-content: center;
}