.tweet-button {
    background-color: #4056A1;
    border: none;
    color: #FFFFFF;
    font-family: Bungee;
    padding: 5px 15px 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}

.counter {
    float: right;
    font-family: Bungee;
}

textarea {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    background-color: #f4f1ec;
    outline: none;
    resize: none;
}


