article {
    border: 2px solid #545149;
    padding: 2px 2px 2px 2px;
    max-width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.tweet header {
    display: flex;
    flex-direction: row;
}
article:hover {
    box-shadow: 10px 5px 5px lightgrey;
}
.counter-days {
    float: left;
}

.tweet-icons {
    padding: 30px 2px 2px 2px;
    float: right;
}

/* .tweet-body {

} */

footer {
    width: 100%;
    float:left;
    padding: 0px 10px;
}

